/*
 * Uses the following scales:
 * - Major Second https://type-scale.com/?size=16&scale=1.200
 * - Above 50em: Hexatonic Scale, Fibonacci Series https://www.layoutgridcalculator.com/typographic-scale/
 */

%heading {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 600;
    line-height: 1.2;

    &:not(:first-child) {
        margin-top: 1em;
    }
}

h1,
.heading-1 {
    @extend %heading;
    font-size: 1.802rem;

    @media screen and (min-width: 50em) {
        font-size: 2.625rem;
    }
}

h2,
.heading-2 {
    @extend %heading;
    font-size: 1.602rem;

    @media screen and (min-width: 50em) {
        font-size: 1.7708rem;
    }
}

h3,
.heading-3 {
    @extend %heading;
    font-size: 1.424rem;

    @media screen and (min-width: 50em) {
        font-size: 1.3958rem;
    }
}

h4,
.heading-4 {
    @extend %heading;
    font-size: 1.266rem;

    @media screen and (min-width: 50em) {
        font-size: 1.1875rem;
    }
}

h5,
.heading-5 {
    @extend %heading;
    font-size: 1.125rem;

    @media screen and (min-width: 50em) {
        font-size: 1.1042rem;
    }
}

h6,
.heading-6 {
    @extend %heading;
    font-size: 1rem;
}