.video-controls {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 1;

    button {
        background: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
    }

    .hidden {
        display: none;
    }
}