body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-header {
    background: $blue-dark;
    padding: 1rem 1.5rem;

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    .site-title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;

        svg {
            width: 1.7rem;
            height: 1.7rem;
            margin-right: 0.45rem;
            margin-top: -0.25rem;
        }
    }
}

.site-main {
    @media screen and (min-width: 40em) {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

.page-nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-top {
        background: $blue-extra-light;
        margin: 2rem 1.5rem;
        border-radius: 0.5rem;
        padding: 1rem 1.2rem;

        > li {
            margin-bottom: 2rem;
        }
    }

    .nav-parent {
        font-weight: 600;
        color: $blue-dark;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
}

.page-content {
    background: #fff;
    padding: 0 1.5rem 3rem;

    @media screen and (min-width: 40em) {
        padding: 2rem 2.5rem;
    }

    a {
        word-break: break-word;
    }
}

.site-footer {
    padding: 1.5rem 1.5rem 3rem;
    background: $blue-dark;
    color: #fff;

    a {
        color: inherit;
    }

    p {
        margin-bottom: 0;
    }

    .site-title {
        font-size: 1.5rem;
        font-weight: 600;

        a {
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }

    .subhead {
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
}