body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-header {
    background: $blue-dark;
    padding: 1rem 1.5rem;

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    .site-title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;

        svg {
            width: 1.7rem;
            height: 1.7rem;
            margin-right: 0.45rem;
            margin-top: -0.25rem;
        }
    }
}

.page {
    padding: 1.5rem 1.5rem 2rem;
    max-width: 80em;
    margin: 0 auto;
    
    @media screen and (min-width: 50em) {
        display: grid;
        grid-gap: 7%;
        grid-template-columns: minmax(225px, 22%) minmax(0, 1fr);
    }
}

.page-nav {
    margin-bottom: 2rem;

    @media screen and (min-width: 50em) {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-toggle {
        width: 100%;
        display: block;
        margin-bottom: 1.2rem;
        background: $blue-extra-light;
        color: $blue-dark;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 0.3rem;
        padding: 0.5rem;

        @media screen and (min-width: 50em) {
            display: none;
        }
    }

    .nav-top {
        background-color: rgba($blue-extra-light, 0.2);
        border-radius: 0.3rem;
        padding: 1rem 1.2rem;
        display: none;

        @media screen and (min-width: 50em) {
            display: block;
        }

        &.active {
            display: block;
        }

        > li {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .nav-parent {
        font-weight: 600;
        color: $blue-dark;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    a {
        color: $blue-dark;
        text-decoration: none;
        display: block;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.page-content {
    font-size: 1.2rem;
    background: #fff;

    a {
        word-break: break-word;
    }

    .page-title {
        margin-bottom: 1rem;

        @media screen and (min-width: 50em) {
            font-size: 2.6rem;
        }
    }
}

.stage {
    background-color: rgba($blue-extra-light, 0.2);
    border-radius: $border-radius;
    padding: 2rem;
    margin: 2rem 0;
    position: relative;

    @media screen and (min-width: 50em) {
        padding: 3rem 10%;
    }
}

.stage-toggle {
    background: $blue-dark;
    border: none;
    border-radius: 0 $border-radius 0 $border-radius;
    color: #fff;
    font-size: 0.9rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 0.8rem;
}

.page-sources {
    margin-top: 4rem;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 0.5rem;
            font-size: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                padding: 0.2rem 0.5rem 0.3rem;
                background-color: rgba($blue-extra-light, 0.2);
                color: $blue-dark;
                border-radius: 0.5rem;
                display: inline-block;
            }
        }
    }
}

.site-footer {
    padding: 1.5rem;
    background: $blue-dark;
    color: #fff;

    a {
        color: inherit;
    }

    p {
        margin-bottom: 0;
    }

    .subhead {
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        font-size: 0.8rem;
    }
}