body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: $blue-extra-light;
}

.site-header {
    background: $blue-dark;
    padding: 1rem 1.5rem;

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    .site-title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.site-main {
    display: grid;

    @media screen and (min-width: 40em) {
        grid-template-columns: 1fr 3fr;
    }
}

.page-content {
    background: #fff;
    padding: 2rem 2.5rem;
}

.site-footer {
    padding: 1rem 1.5rem;
    background: $blue-dark;
    color: #fff;

    a {
        color: inherit;
    }

    p {
        margin-bottom: 0;
    }

    .site-title {
        font-size: 1.5rem;
        font-weight: 600;

        a {
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }

    .subhead {
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
}