/*
* This code was modified from a Pen by Alison Quaglia (https://codepen.io/hylobates-lar/pen/bGEQXgm)
 */

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
        (-.5+(random()) * 3) + em
        (-.5+(random()) * 3) + em
        7px
        hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

.dots-bg,
.dots-2-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: $blue-dark;
}
  
.dots-bg::before, .dots-bg::after,
.dots-2-bg::before, .dots-2-bg::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  font: 52px Serif;
  color: transparent;
}


.dots-bg::before {
@include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

.dots-bg::after {
@include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

.dots-2-bg::before {
@include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

.dots-2-bg::after {
@include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}