.home-intro {
    width: 100%;
    height: 100vh;
    position: relative;
    color: $blue-extra-light;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .emoji {
        color: #fff;
    }

    .title {
        font-size: 4rem;
        margin-bottom: 0.2rem;
        color: #fff;
    }

    .subhead {
        font-size: 0.9rem;
        font-weight: 500;
        color: $blue-light;
        line-height: 1.2;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    .get {
        font-size: 1.2rem;

        p {
            margin-bottom: 0;
        }

        a {
            color: #ceddef;

            svg {
                margin: -0.15rem 0.4rem 0 0;
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    .version {
        margin-bottom: 0;
    }
}

.home-docs {
    text-align: center;
    padding: 3rem 1rem;

    @media screen and (min-width: 37.5em) {
        padding: 4rem 2rem;
    }

    h2 {
        margin-bottom: 1.5rem;

        @media screen and (min-width: 37.5em) {
            margin-bottom: 2.5rem;
        }
    }
}

.home-sections {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
    max-width: 62.5rem;

    @media screen and (min-width: 37.5em) {
        grid-template-columns: repeat(3, 1fr);
    }

    li {
        font-size: 1.5rem;
        background: #fff;
        border-radius: 0.8rem;

        a {
            text-decoration: none;
            display: block;
            padding: 2rem;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }

        svg {
            display: block;
            margin: 0 auto 1rem;
        }
    }
}