.home-intro {
    width: 100%;
    height: 100vh;
    position: relative;
    color: $blue-extra-light;
    background-color: $blue-dark;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .site-icon {
        color: #fff;
    }

    .title {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 0.2rem;
        color: #fff;
    }

    .subhead {
        font-size: 0.9rem;
        font-weight: 500;
        color: $blue-light;
        line-height: 1.2;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    .get {
        display: flex;

        a {
            color: $blue-extra-light;
            will-change: opacity;
            transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .version {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 0;
        padding-right: 1rem;
        border-right: 1px solid rgba($blue-extra-light, 0.5);
        margin-right: 1rem;
    }
}

section {
    padding: 3rem 1rem;
    color: $blue-dark;

    @media screen and (min-width: 37.5em) {
        padding: 4.5rem 2rem;
    }

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: $blue-dark;
    }

    p {
        font-size: 1.3rem;
    }

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
}

.home-docs {
    text-align: center;

    p {
        max-width: 48rem;
        margin: 0 auto 3rem;
    }
}

.docs-entry {
    display: grid;
    grid-gap: 2rem;
    max-width: 62.5rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 37.5em) {
        grid-template-columns: repeat(3, 1fr);
    }

    li {
        font-size: 1.5rem;

        a {
            text-decoration: none;
            display: block;
            padding: 2rem;
            color: $blue-dark;
            box-shadow: 0 2px 10px rgba(205, 220, 238, 0.58);
            border: 2px solid transparent;
            border-radius: 0.8rem;

            &:hover,
            &:focus,
            &:active {
                border: 2px solid $blue-medium;
            }
        }

        svg {
            display: block;
            margin: 0.2rem auto 1rem;
        }
    }
}

.home-download {
    background-color: rgba($blue-extra-light, 0.2);
    
    @media screen and (min-width: 37.5em) {
        display: grid;
        grid-template-columns: minmax(0, 29.25rem) minmax(0, 29.25rem);
        justify-content: center;
        grid-gap: 4rem;
    }

    h2 {
        text-align: left;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 2rem;

        @media screen and (min-width: 37.5em) {
            max-width: 28rem;
            margin-bottom: 0;
        }
    }
}

.download-list {
    display: grid;
    grid-gap: 1rem;
    margin: 0;

    li {
        font-size: 1.2rem;

        a {
            display: block;
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: $blue-dark;
            background-color: #fff;
            border: 2px solid #fff;
            border-radius: 0.5rem;
    
            &:hover,
            &:active,
            &:focus {
                border: 2px solid $blue-medium;
            }
    
            svg {
                margin: -0.15rem 0.6rem 0 0;
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        &.download-source {
            border: none;

            a {
                background: $blue-dark;
                border-color: $blue-dark;
                color: #fff;

                &:hover,
                &:active,
                &:focus {
                    background: $blue-medium;
                    border-color: $blue-medium;
                }
            }
        }
    }
}

// .home-browser-support {

// }