@import "variables";

/*
 * Adjustments to elements and components for display on stage.
 */

 .js {
    .accordion-heading {
        button {
            padding: 1rem 6rem 1rem 1.5rem;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-radius: $border-radius $border-radius 0 0;

            @media screen and (prefers-reduced-motion: no-preference) {
                transition: background-color 0.2s;
            }

            &::after {
                content: '';
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
                background: url('../img/accordion/chevron-down.svg') no-repeat center;
                background-size: 2rem;
            }
        }
    }

    .accordion-content {
        padding: 0 1.5rem;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-radius: 0 0 $border-radius $border-radius;
    }

    .is-active {
        .accordion-heading {
            button {
                background: #fff;
                border-color: currentColor;

                &::after {
                    transform: translateY(-50%) scaleY(-1);
                }
            }
        }
        
        .accordion-content {
            background: #fff;
            border-color: currentColor;
        }
    }
}

input[type="text"],
textarea {
    border: 2px solid currentColor;
    border-radius: $border-radius;
}

.icon-list {
    li {
        &::before {
            background-image: url('../img/info.svg');
        }

        p {
            margin-bottom: 0;
        }
    }
}

[role="tablist"] {
    button {
        border-radius: $border-radius $border-radius 0 0;
        padding: 0.5rem 1rem;

        &[aria-selected="true"] {
            background: #fff;
        }
    }
}

[role="tabpanel"] {
    padding: 2rem 2.5rem;

    &[aria-hidden="false"] {
        background: #fff;
    }
}

.card {
    background-color: #fff;
    border: 1px solid var(--theme-color, "#333");
    border-radius: 0.4rem;
    overflow: hidden; /* To apply border radius to image */
}