[role="tablist"] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    button {
        display: block;
        background: none;
        border: none;
        color: $text-color;
        margin: 0;
    }
}

[role="tabpanel"] {
    &:not([aria-hidden="false"]) {
        display: none;
    }
}